pkgbase = python-distlib
	pkgdesc = Low-level functions that relate to packaging and distribution of Python software
	pkgver = 0.3.8
	pkgrel = 1
	url = https://distlib.readthedocs.io
	arch = any
	license = PSF
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	source = python-distlib::git+https://github.com/vsajip/distlib#commit=ab5f8e797fbc56a0e3488bba68d05e7a602cb63f
	b2sums = SKIP

pkgname = python-distlib
